.section {
  padding: 5rem 8rem;
  color: var(--clr-text-light);
  background-color: var(--clr-secondary);
}

.section h2 {
  margin-bottom: 5rem;
  text-align: center;
  color: var(--clr-primary);
  display: flex;
  gap: 1rem;
}

.pricingContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
}

.pricingCard {
  width: 40rem;
  background-color: #fff;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.pricingCard p {
  font-size: 1.2rem;
}
.priceBox {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.price {
  font-size: 5rem;
  line-height: 0.6;
}

.month {
  line-height: 1.3;
}

.sign {
  display: flex;
  align-items: center;
  color: #000;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 2rem;
}
.pricingCard button {
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .pricingCard {
    width: 32%;
  }
}

@media only screen and (max-width: 1000px) {
  .pricingCard {
    padding: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .pricingContainer {
    row-gap: 4rem;
  }
  .pricingCard {
    width: 49%;
  }
}

@media only screen and (max-width: 600px) {
  .pricingContainer {
    row-gap: 2rem;
  }
  .pricingCard {
    width: 99%;
    padding: 6rem;
  }
}

@media only screen and (max-width: 500px) {
  .section {
    padding: 5rem 4rem;
  }
}
